body {
	background-color: silver;
}

#container {
	border: 2px solid gray;
	border-radius: 5px;
	background-color: orange;
	width: 360px;
	margin: 0 auto;
}

.completed {
	color: gray;
	text-decoration: line-through;
}